---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';



const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---


<Layout {meta}>
  <!-- Hero Widget ******************* -->
  <!-- Hero Widget ******************* -->


  <Hero

  >
  
    <Fragment slot="title">
      Laucandrique est toujours rejoignable!<span class="hidden lg:inline"> <br class="2xl:hidden"/> </span> <div></div>
      <span > </span> <div class="text-accent dark:text-white highlight">24 heures sur 24</div><div class="text-accent dark:text-white highlight">7 Jours sur 7</div> <br>
      <span><a href="tel:450-677-0007">Nous Appeler: (450)677-0007</a>
      </span> <br> <br>
      <span><a href="tel:450 926-9911">Urgence: (450)926-9911</a>
      </span> <br> <br>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Gestion Laucandrique</span> possede un département des urgences qui peut répondre à toutes les situations !</span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span> La reference en matiere de gestion immobiliere peu importe la taille de votre coproprietes.
    </Fragment>
    
  </Hero>
<Note></Note>

  <Features

    title="Pour nous joindre"
    subtitle="Peu importe vos besoins, nous dommes disponible."
    items={[
      [
        {
          title: 'Numéro de téléphone',
          description:
            'Pour les heures de bureau: 450 677-0007',
          icon: 'tabler:phone',
        },
        {
          title: "Heures d'ouverture",
          description:
            "Lundi au vendredi de 8h30 à 17h00",
          icon: 'tabler:clock',
        },
        {
          title: 'Laucandrique – siège social – Brossard',
          description:
            '4305, boul. Lapinière, bureau 100 Brossard (Québec) J4Z 3H8 (450) 677-0007',
          icon: 'tabler:home',
        },
      ],
      [
        {
          title: 'Numéro de téléphone (Urgences)',
          description:
          'Pour les urgences: 450 926-9911',
          icon: 'tabler:exclamation-mark',
        },
        {
          title: 'Par courriel',
          description:
            'administration@laucandrique.ca',
          icon: 'tabler:wifi',
        },
        {
          title: 'Laucandrique – Tremblant',
          description:
            '2195 ch. du Village, bureau 108 Mont-Tremblant (Québec) J8E 3M3 819 717-4720',
          icon: 'tabler:mountain',
        },
      ],
    ]}
  />



  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Contactez-nous',
      href: 'https://laucandrique.ca/nous-joindre/',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Contactez <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">notre équipe</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ne perdez pas de temps, <br class="hidden md:inline" /> faites affaire avec les professionels
    </Fragment>
  </CallToAction>
</Layout>
