---
import Layout from '~/layouts/PageLayout.astro';
import Herotest from '~/components/widgets/testastro.astro';
import Headertest from '~/components/widgets/Astroheadertest.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Image from '~/assets/images/test1.png';
import Stats from '~/components/widgets/Stats.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';



import { headerData } from '~/data';

const meta = {
  title: 'Test Page',
};
---

<Layout {meta}>
  <Herotest
    callToAction={{ text: 'Nous contacter', href: 'https://laucandrique.ca/', icon: 'tabler:download' }}
    callToAction2={{ text: 'En savoir plus', href: '#features' }}
    image={{ src: import('~/assets/images/test1.png'), alt: 'AstroWind Hero Image' }}
  >
  
    <Fragment slot="title">
      <br>
      Une equipe professionelle <span class="hidden lg:inline">avec un climat familial, <br class="2xl:hidden"/> </span> <div> faite confiance a</div>
      <span > </span> <div class="text-accent dark:text-white highlight">Gestion Laucandrique</div>
    </Fragment>


  

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Gestion Laucandrique</span> a plus de 35 ans d'experience dans le domaine de la gestion de coproprietes.</span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Gestion Laucandrique:</span> La reference en matiere de gestion immobiliere peu importe la taille de votre coproprietes.
    </Fragment>
  </Herotest>

  <Stats
  items={[
    { name: 'Syndicats', value: '481' },
    { name: 'Employes', value: '55' },
    { name: 'Pieds Carres', value: '100.3K' },
    { name: 'Portes', value: '13.2k' },
  ]}
  
/>


<!-- Features2 Widget ************** -->

<Features2

title="Ce que Nous Offrons"
subtitle="Notre unique but est de nous occuper de votre propriete comme il se doit."
highlight="Services"
items={[
  {
    title: "35 ans d'expertise",
    description:
      'In general, Headers contain information that makes it easier for visitors to interact with the website.',
    icon: 'flat-color-icons:template',
  },
  {
    title: 'Des outils technos',
    description:
      'Une plateforme web complete pour une communication et une gestion inegalee toujours a la pointe de la technologie.',
    icon: 'flat-color-icons:gallery',
  },
  {
    title: 'Des services complets',
    description:
      'Display your product in action and how the Features actually create a solution for your target customer.',
    icon: 'flat-color-icons:todo-list',
  },
  {
    title: 'Content',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
    icon: 'flat-color-icons:document',
  },
  {
    title: 'Un departement des sinistres',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
    icon: 'flat-color-icons:advertising',
  },
  {
    title: 'Un prix competitif',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
    icon: 'flat-color-icons:currency-exchange',
  },
  {
    title: 'Testimonial',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
    icon: 'flat-color-icons:voice-presentation',
  },
  {
    title: 'Une entreprise familial',
    description:
      'Un service professionel avec un climat chaleureux pour chacun de nos clients, vous devenez un membre de la famille lorsque vous choissisez laucandrique.',
    icon: 'flat-color-icons:business-contact',
  },
  {
    title: 'Footers',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
    icon: 'icon-park:page-template',
  },
]}
/>

<!-- END NOS SERVICES -->


<!-- DEBUT SERVICES -->






  <!-- Hero2 Widget ******************* -->


  <CallToAction
  callToAction={{
    text: 'Get template',
    href: 'https://github.com/onwidget/astrowind',
    icon: 'tabler:download',
  }}
>
  <Fragment slot="title">
    Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
  </Fragment>

  <Fragment slot="subtitle">
    Un service qui convient a vos besoins<br class="hidden md:inline" />Don't
    waste more time! :P
  </Fragment>

  <Fragment slot="subtitle">
       <!-- CARROUSSEL WITH PACKAGE -->

   <div id="controls-carousel" class="relative" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96"></div>
  
  <!-- Cards I want but barely working -->
    <div class="container" text-align"center">
      <div class="card h-72 bg-gradient-to-r from-amber-600 to-amber-800" >
        <div class="col-md-4 col-sm-12 col-xs-12">
        <h3 class="title">Forfait Bronze</h3>
        <div class="bar">
          <li class="flex space-x-3">
          </div>
            <!-- Icon -->
        </li>
        </div>
        <div class="circle">
        </svg>
        </div>
      </div>
      <div class="card h-72 bg-gradient-to-r from-zinc-400 to-zinc-800">
        <h3 class="title">Forfait Argent</h3>
        <div class="bar">
        </div>
        <div class="circle">
        </svg>
        </div>
      </div>
      <div class="card h-72 bg-gradient-to-r from-amber-200 to-amber-400 ">
        <h3 class="title">Forfait Or </h3>
        <div class="bar">
        </div>
        </svg>
        </div>
      </div>
      </div>
    </div>

  </Fragment>

</CallToAction>


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
      
    ]}
  />



</Layout>
